@model SocialMediasAssistant.Models.FacebookPostPage
@{
    ViewBag.Title = Resource.AddPage;
}

<h2>@ViewBag.Title</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/AddPage.js"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Resource.Page</h4>
    <hr />
    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    <div class="form-group">
        <label for="page" class="control-label col-md-2">@Resource.FacebookPage</label>
        <div class="col-md-10">
            <div id="pages" class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" name="page"
                        type="button" id="pagesSelected" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @Resource.SelectPage
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="points" class="control-label col-md-2">@Resource.Points</label>
        <div class="col-md-10">
            <div id="points" class="dropdown">
                <button class="btn btn-outline-secondary dropdown-toggle" name="page"
                        type="button" id="pagesSelected" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @{
                        if (Model == null)
                        {
                            @:@Resource.Points
                        }
                        else if (Model.Points == 0)
                        {
                            @:Resource.Points
                        }
                        else
                        {
                            @Model.Points
                        }
                    }
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-value="0">5</a>
                    <a class="dropdown-item" href="#" data-value="1">10</a>
                    <a class="dropdown-item" href="#" data-value="2">20</a>
                    <a class="dropdown-item" href="#" data-value="3">50</a>
                    <a class="dropdown-item" href="#" data-value="4">100</a>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(p => p.Points, new { id = "page_points"})
    @Html.HiddenFor(p => p.PageId, new { id = "page_id" })
    @Html.HiddenFor(p => p.AccessToken, new { id = "page_access_token" })
    @Html.HiddenFor(p => p.Link, new { id = "page_link" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resource.AddPage" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<script src="~/Scripts/GetNameToken.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
