@{
    ViewBag.Title = Resource.HomePage;
}

<div id="mainjumbotron" class="jumbotron d-none d-sm-block">
    <h1 class="jumbotron-main-text text-dark " style="width:28%;">Budaliken</h1>
    <br />
    <p class="jumbotron-text lead text-dark d-none d-lg-block" style="width:30%;">
        @Resource.JumbotronInfo
    </p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("About", "Home", null, Request.Url.Scheme)">@Resource.LearnMore &raquo;</a></p>
</div>

<div class="row">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4>@Resource.GetFacebookLikes</h4>
                <img class="img-fluid mx-auto" src="~/Images/Thumb-Icon-RGB-1024.png" />
                <p>
                    @Resource.GetFacebookLikesInfo
                </p>
                <p><a class="btn btn-primary" href="@Url.Action("AddPagePost", "Facebook", null, Request.Url.Scheme)">@Resource.LearnMore &raquo;</a></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>@Resource.GetInstagramFavs</h4>
                <img class="img-fluid mx-auto" src="~/Images/giphy.gif" />
                <p>@Resource.GetInstagramFavsInfo</p>
                <p><a class="btn btn-primary" href="@Url.Action("AddPost", "Instagram", null, Request.Url.Scheme)">@Resource.LearnMore &raquo;</a></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>@Resource.GetFollowers</h4>
                <img style="width:430px" class="img-fluid mx-auto" src="~/Images/ezgif-1-d41eb5747f.gif" />
                <p>@Resource.GetFollowersInfo</p>
                <p><a class="btn btn-primary" href="@Url.Action("AddAccount", "Instagram", null, Request.Url.Scheme)">@Resource.LearnMore &raquo;</a></p>
            </div>
        </div>
    </div>
</div>