@model SocialMediasAssistant.Models.InstagramPost
@{
    ViewBag.Title = "AddPost";
}

<h2>Add Post</h2>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>@Resource.InstagramPost</h4>
    <hr />
    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(c => c.Link, new { @class = "col-form-label col-md-2" })
        <div class="col-md-10 input-group">
            @Html.TextBoxFor(c => c.Link, new { @class = "form-control input-group-prepend", id = "postLink" })
            <button id="selectPost" type="button" class="btn" data-toggle="modal" data-target="#postsModal">
                @Resource.ChoosePost
            </button>
        </div>
    </div>
    <div class="form-group">
        <label for="points" class="control-label col-md-2">@Resource.Points</label>
        <div class="col-md-10">
            <div id="points" class="dropdown">
                <button name="Points" class="btn btn-outline-secondary dropdown-toggle"
                        type="button" id="pagesSelected" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @{
                        if (Model == null)
                        {
                            @:@Resource.Points
                        }
                        else if (Model.Points == 0)
                        {
                            @:@Resource.Points
                        }
                        else
                        {
                            @Model.Points
                        }
                    }
                </button>


                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" data-value="0">5</a>
                    <a class="dropdown-item" href="#" data-value="1">10</a>
                    <a class="dropdown-item" href="#" data-value="2">20</a>
                    <a class="dropdown-item" href="#" data-value="3">50</a>
                    <a class="dropdown-item" href="#" data-value="4">100</a>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(p => p.Points, new { id = "post_points" })
    <div class="modal fade" id="postsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Resource.ChoosePost</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body choose-post-modal-body">
                    <div id="posts">
                        <div class="btn-group btn-group-toggle m-0" data-toggle="buttons">

                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Resource.Choose</button>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resource.AddPost" class="btn btn-primary" />
        </div>
    </div>
</div>
}
<script async defer src="//www.instagram.com/embed.js"></script>
<script src="~/Scripts/AddInstagramPost.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
