<!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Social media Assistant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
</head>
<body id="bootstrap-override">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        @Html.ActionLink("budaliken", "Index", "Home", new { area = "" }, new { id = "navbar-brand", @class = "navbar-brand font-italic" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="nav-links" class="navbar-nav mr-auto">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { }, new { @class = "nav-link" })</li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Facebook
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Like Posts", "PagePosts", "Facebook", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Post", "AddPagePost", "Facebook", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Page", "AddPage", "Facebook", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Like Pages", "Pages", "Facebook", new { }, htmlAttributes: new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instagram
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @Html.ActionLink("Fav Posts", "Posts", "Instagram", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add Post", "AddPost", "Instagram", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Follow Users", "Accounts", "Instagram", new { }, htmlAttributes: new { @class = "dropdown-item" })
                        @Html.ActionLink("Add your Account", "AddAccount", "Instagram", new { }, htmlAttributes: new { @class = "dropdown-item" })

                    </div>
                </li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - budaliken</p>
        </footer>
    </div>
    <script src="~/Scripts/umd/popper.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/JavaScript.js"></script>
</body>
</html>
